@import "compass";

@mixin button-base {
  display: inline-block;
  text-decoration: none!important;
  line-height: 1em;
  &:after, &:before {
    content: '';
    position: absolute;
    z-index: -1;
    @include transition(0.3s);
  }
  &:hover, &:focus {
    outline: none;
  }
}

@mixin button-pill($accent-color, $text-color) {
  @include button-base;
  padding: $base-spacing-unit/2 $base-spacing-unit;
  background-color: $accent-color;
  color: $text-color!important;
  border-radius: 3em;
  border: none;
  position: relative;
  @include transition(0.3s);
  &:hover, &:focus, .active {
    background-color: adjust-lightness($accent-color, -10%);
    border: none;
  }
  &:active {
    background-color: adjust-lightness($accent-color, -20%);
    @include box-shadow($accent-color 0px 0px 0px 0.2em);
  }
}

@mixin button($accent-color, $text-color, $hover-text-color, $hover-background-color) {
  @include button-base;
  @include border-radius(0.35em);
  @include transition(0.3s);
  padding: $base-spacing-unit/2 $base-spacing-unit;
  background: $accent-color;
  position: relative;

  color: $text-color;
  border: 2px solid $accent-color;

  &:hover, &:focus {
    color: $hover-text-color;
    border-color: $hover-background-color;
    background: $hover-background-color;
  }

  &:active {
    border-color: adjust-lightness($text-color, -10%);
    color: adjust-lightness($hover-text-color, -10%);
    top: 2px;
  }

  // Special FX
  &:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: $hover-background-color;
  }

  &:hover:after, &:focus:after {
    //width: 100%;
  }

  &:active:after {
    background: adjust-lightness($text-color, -10%);
  }
}

.button, .btn, button {
  @include button($white, $blue, $white, $blue);
}

.button--center {
  margin: 0 auto;
}
