// Here I can define my own variables, in addition to overwriting any that
// are defined in inuit.css. As long as this file is included before inuit,
// then we can override anything defined as !default in inuit's _vars.scss.

// Inuit Variables
// ---------------
// We can override anything defined with !default in /vendor/inuit.css/_vars.scss
// here. For anything we don't explicitly overwrite here then the default value
// is used.


/*----:[Colors]:---*/
$black: #333;
$white: #FAFAFA;
$blue: #2BA6CB;
$grey: #CCC;


/*----:[External Brand Colors]:----*/
$im_blue: #1b75bb;
$im_green: #00b6a5;

$accent_twitter: #00acee;
$accent_fb: #3d5c96;

$directions: -top -right -bottom -left;
$resolutions: palm lap portable desk;
$subres: palm lap desk;

/*------------------------------------*\
    $BORDER-BOX
\*------------------------------------*/
/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
$global-border-box: true!default;


$base-font-size:    17px;
$base-line-height:  $base-font-size*1.6;

$base-font-family: 'Merriweather Sans', 'Open Sans', 'Lucida Grande', 'Lucida Sans', 'Tahoma', sans-serif;
$serif: 'Sorts Mill Goudy', 'Lucida Grande', 'EB Garamond', 'Garamond', 'Georgia', serif;
$ampersand: 'Goudy Bookletter 1911', 'EB Garamond', 'Garamond', Georgia, serif;

$base-ui-color:     #ccc!default;


$responsive:        true!default;
$responsive-extra:  false!default;

$push:              false!default;
$palm-push:         false!default;
$lap-push:          false!default;
$lap-and-up-push:   false!default;
$portable-push:     false!default;
$desk-push:         false!default;

$pull:              false;
$palm-pull:         false;
$lap-pull:          false;
$lap-and-up-pull:   false;
$portable-pull:     false;
$desk-pull:         false;

$lap-start:         481px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;





/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;


/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
$brand-color:       #4a8ec2!default;
$brand-face:        "Merriweather Sans", "Open Sans", sans-serif;

/**
 * How big would you like round corners to be by default?
 */
$brand-round:        4px!default;





/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
$use-grids:         true;
$use-flexbox:       false!default;
$use-columns:       false!default;
$use-nav:           true;
$use-options:       false!default;
$use-pagination:    false!default;
$use-breadcrumb:    false!default;
$use-media:         true;
$use-marginalia:    false!default;
$use-island:        false!default;
$use-block-list:    false!default;
$use-matrix:        false!default;
$use-split:         false!default;
$use-this-or-this:  false!default;
$use-link-complex:  false!default;
$use-flyout:        false!default;
$use-arrows:        false!default;
$use-sprite:        false!default;
$use-icon-text:     false!default;
$use-beautons:      false!default;
$use-lozenges:      false!default;
$use-rules:         false!default;
$use-stats:         false!default;
$use-greybox:       false!default;
