<meta property="og:type"                 content="profile">
<meta property="og:title"                content="Pradeep Singh">
<meta property="og:url"                  content="http://www.pradeepsingh.xyz">
<meta property="og:description"          content="Pradeep Singh is a Young Social Entrepreneur, Aspiring Writer &amp; Public Speaker from India.">
<meta property="og:image"                content="https://en.gravatar.com/pradeepsinngh#pic-0">
<meta property="profile:first_name"      content="Pradeep">
<meta property="profile:last_name"       content="Singh">
<meta property="profile:gender"          content="male">
<meta property="fb:profile_id"           content="pradeep.sinngh">    
<meta property="app_id"                  content="205403429842251">
