
<!-- <script type="text/javascript" charset="utf-8" src="//s3.amazonaws.com/manycontacts-bars/5623668f88b1200244d1ff60.js"></script>
-->

<div id='header_area' class="grid">
  <div class='area' id='header'>

    <!-- <div class="grid__item one-quarter palm-one-whole"> -->
     <div class="text--center grid__item one-whole beta">
    {% if page.slug == 'home' %}
      <h1 id=> Notes by Pradeep</h1>
    {% else %}
      <a href='{{ site.url }}' id=''></a>
    {% endif %}
    </div><!---
    --><nav class="grid__item three-quarters palm-one-whole">
      <ul class='nav no-bottom-margin desk-center' data-nav-title="Navigation">
       <li>
         <a href="http://pradeepsingh.xyz/">Home</a>
         </li>
         <li>
        <a {% if page.slug == 'about' %}class="active"{% endif %} href='/about'>About</a>
        </li>
        <li>
        <a {% if page.slug == 'blog' %}class="active"{%endif%} href='/'>Blog</a>
        </li>
        <li>
        <a {% if page.category == 'talks' or page.slug == 'speaking' %}class="active"{% endif %} href='/speaking'>Speaking</a>
        </li>
        <!-- 
        <li>
        <a {% if page.slug == 'home' %}class="active"{%endif%} href='/'>Books</a>
        </li>
        <li>
        <a {% if page.slug == 'home' %}class="active"{%endif%} href='/'>Stuff</a>
        </li>
        -->
        <li>
        <a {% if page.slug == 'archives' %}class="active"{% endif %} href='/archives'>Archives</a>
        </li>
      </ul>
    </nav>
    <!-- .nav-bar -->

    {% if page.slug == 'home' %}
    <div class="grid__item " id="introduction">
       <p> A personal journal celebrating an unbiased perspective of self-discovery.<br> I write about my insights on <strong>life, travel, startups &amp; entrepreneurship</strong>. I wish to read these posts someday trying to understand how life evolved me over the period.</br> </p>
      <p class="no-bottom-margin"><strong><strike>Joke</strike> Nomadic Engineer,</strong> he calls himself. <strong> Phew.</strong></p>
    </div><!-- #introduction -->
    {% endif %}
  </div>
</div><!-- #header_area -->
