---
layout: base
title: "King Sidharth"
slug: "home"
background: king-sidharth-meditation.jpg 
---

{% include header.html %}

<div id="intro_area" class="grid" >
  <div class="page page--double-padding">
    <div class="grid__item one-half palm-one-whole">
      <blockquote class="serif">That you are</blockquote>
      <p class="milli">Tat-tvam-asi &bull; तत् त्वम् असि</p>
    </div><!--
    --><div class="grid__item  one-half palm-one-whole desk-right desk-grid__item--rev-padding">
      <blockquote class="serif">That I am</blockquote>
      <p class="milli">So-aham &bull; सो ऽहम्</p>
    </div>
  </div>
</div><!-- #intro_area -->

</div><!-- #first_screen -->

<div id="content_area" class="grid has_multi_page">
  <div class="page">

    <section id="instamojo" class="grid__item one-whole">
      <h2>I build <em>Instamojo</em> with crazy people</h2>
      <p>Online payments were a luxury that only big companies or developers could afford. Instamojo is bringing online payments to the masses. The life changing possibilities are exciting.</p>
      <p><a href="https://www.instamojo.com?partner=team" target="_blank" class="btn">Check out <strong>Instamojo</strong></a></p>
    </section><!-- #instamojo -->

    <section id="writing" class="grid__item one-whole">
      <h2>Writings</h2>
      <p>Writing is good; editing is profound. I use the writing-editing process to sort, express &amp; play-around with thoughts. I write at:</p>
      <ul class="block-list">
        <li><a href="http://www.64notes.com">64 Notes</a> about Entrepreneurship, life &amp; <a href="http://www.64notes.com/design/">Design</a>.</li>
        <li><a href="http://anamorphic.in">Anamorphic</a> about the Books I read &amp; the Films I watch.</li>
        <li>Sometimes I scramble-up words to make <a href="/poems">poetry</a>.</li>
      </ul>
      <p><a href="/writings" class="btn">See more of these <strong>writings</strong></a></p>
    </section><!-- #writing -->

    <section id="talks" class="grid__item one-whole">
      <h2>I talk a lot</h2>
      <p>A little too much. Often they invite me to talk about <strong>Entrepreneurship, Design</strong> &amp; other stuff. I've given talks at <strong>TEDx, WordCamps,</strong> Startup Saturday, Engineering Colleges, Schools, etc.</p>
      <p><a class="btn" href="http://www.64notes.com/speaking">See all my <strong>talks</strong></a></p>
    </section><!-- #talks -->

    <section id="epilogue" class="grid__item one-whole">
      <h3>... and stuff</h3>
      <p>It's also been noted that I'm obsessed with The Teachings of Abraham, Pink Floyd, Lucy in the Sky with Diamonds, shoes, <span class="amp">&amp;</span> ampersand.</p> 
      <p>People find it interesting that I dropped-out of college.</p>
      <p>I'm often called weirdo, madly optimistic retard, that cute kid, etc. But online, I am the King.</p>
    </section><!-- #epilogue -->

    <section id="contact" class="grid__item one-whole">
      <h2>Find me here:</h2>
      <ul class="nav nav--block palm-nav--stacked nav--social-connect half-bottom-margin">
        <li><a class="sc__tw" href="https://twitter.com/kingsidharth" onclick="shoutOut('Home Page', 'Twitter Link Clicked');">@kingsidharth</a></li>
        <li><a class="sc__fb" href="https://www.facebook.com/kingsidharth" onclick="shoutOut('Home Page', 'Facebook Link Clicked');">Facebook</a></li>
        <li><a class="sc__gh" href="https://github.com/kingsidharth"  onclick="shoutOut('Home Page', 'Github Link Clicked'">GitHub</a></li>
      </ul>
      <ul class="nav nav--block palm-nav--stacked nav--social-connect">
        <li><a class="sc__em btn" href="mailto:king@kingsidharth.com" onclick="shoutOut('Home Page', 'Email');">king(@)kingsidharth.com</a></li>
      </ul>
    </section>

  </div>
</div><!-- content_area -->

{% include footer.html %}
