<div id='social_area' class="grid">
  <div class='area' id='social'>
    <ul class='nav nav--block grid__item one-whole no-bottom-margin' id='socialfollow'>
      <li>Follow on </li>
      <li class='twitter'>
      <a href="https://twitter.com/nomadic_enggr" onclick="gae('Social', 'Twitter')" target="_blank">twitter</a>
      </li>
      <li><em> or </em></li>
      <li class='instagram'>
      <a href="https://instagram.com/nomadic_enggr/" onclick="gae('Social', 'Instagram')" target="_blank">instagram</a>
      </li>
      <li><em> or </em></li>
      <li class='fb'>
      <a href="https://www.facebook.com/pradeep.sinngh" onclick="gae('Social', 'Facebook')" target="_blank">facebook</a>
      </li>
    </ul>
  </div>
  <!-- #social.area -->
</div>
<!-- #social_area -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id='footer_area' class="grid">
  <div class='area' id='footer'>
    <p class="grid__item one-whole">&copy; 2012-16. | <a href="http://pradeepsingh.co.in/home/">Pradeep Singh.</p>
  </div>
  <!-- #footer -->
</div>
<!-- #footer_area -->

<link href="http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic" rel="stylesheet" type="text/css">

<script>
  var documentData = {
    'url': document.URL,
    'title': "{{ page.title }}",
    'category': {% if page.category %}"{{ page.category }}" {% else %} false {% endif %},
    'environment': "{{ site.env }}"
  }
</script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/scripts/payload.js"></script>

<!-- Google Analytics Code -->
<!--//Add google Analytics code here. -->
